// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 766px)",
	"tab-only": "(min-width: 767px) and (max-width: 1024px)",
	"tab": "(max-width: 1024px)",
	"pc": "(min-width: 1025px)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

body{
  background:#fff;
}

a {
  color: none;
  text-decoration: none;
}

h1 {
  color: #F58C3F;
  margin-bottom:0;
}
header{
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 4px 0px;
}
.header-inner{
  max-width:1000px;
  margin:auto;
  padding:10px 0;
  justify-content:space-between;
}
.header-list{
  display:flex;
  margin-bottom:0;
  li{
    list-style:none;
    padding:10px;
  }
}
.page-wrapper {
  max-width: 1200px;
  margin: auto;
  position:relative;
  justify-content:space-between;
}

.page-flex {
  display: flex;
}
#home{
  @include mq('tab'){
     display:block;
    }
}
.home-left{
  @include mq('sp'){
    margin:auto;
  }
}
.home-right{
  width:500px;
  height:80vh;
  overflow:auto;
  scroll-snap-type:y;
  padding-left:10px;
  @include mq('tab'){
    width:95%;
    padding:0;
    margin:auto;
  }
}
.page-head{
  @include mq('tab'){
    margin-left:5%;
  }
}
.button {
  background-color: #266;
  padding: 20px;
  margin: 0 20px;
  width: 200px;
  border-radius:5px;
  @include mq('sp'){
    width:140px;
    padding:10px;
    margin:0 5px;
  }
}

.button a {
  width: 160px;
  display: inline-block;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
  cousor: pointer;
}
.home-result-title{
  font-size:24px;
  a{
     color: #F58C3F;
  }
}
.home-result-content{
  width:100%;
}
.result-item {
  display: flex;
  background: #FAF8F0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  @include mq('tab'){
    width:90%;
    margin:20px auto;
  }
   @include mq('sp'){
    display:block;
  }
}

.result-content {
  margin-left: 20px;
}
.result-img{
  @include mq('sp'){
    text-align:center;
  }
  img{
    object-fit:cover;
    @include mq('sp'){
      height:150px;
    }
  }
}
.result-title {
  margin: 0 0 10px;
}

.result-title a {
    color: #F58C3F;
}

.result-category {
  margin: 0 10px;
}

.result-pref {
  margin: 0 10px;
}

.result-body{
  margin:10px;
}
.create-form {
  background: #FAF8F0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  @include mq('tab'){
    width:90%;
    margin:20px auto;
  }
}

.post-item {
  padding: 20px 0;
  display: flex;
  border-bottom: #6c967a 1px solid;
  @include mq('sp'){
    display:block;
  }
}

dt {
  margin-right: 30px;
  width: 210px;
  text-align: left;
  position: relative;
}

dd {
  width: calc(100% - 210px);
  @include mq('sp'){
    width:100%;
  }
}

dd input {
  width: calc(100% - 22px);
  padding: 7px;
}

dd textarea {
  width: calc(100% - 10px);
  height: 80px;
}

.contact-label {
  display: inline-block;
  padding: 7px;
}

.contact-label-required::after {
  position: absolute;
  content: "\5FC5\9808";
  width: 46px;
  left: auto;
  right: 0;
  top: 5px;
  display: block;
  background: red;
  color: #fffdfd;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.center {
  text-align: center;
  padding-bottom:10px;
}

.center p {
  text-align: center;
}

.aa {
  text-decoration: underline;
  color: #34D0C4;
  padding: 0 5px;
}

.submit {
  background: #0B572F;
  transition: all 0.5s ease 0s;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
}

.submit:hover {
  opacity: 0.6;
}

.show-post__wrapper {
  background: #FAF8F0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  @include mq('tab'){
    width:90%;
    margin:20px auto;
  }
  img{
    @include mq('sp'){
      width:100%;
    }
  }
}


.search_form{
  background:#FAF8F0;
  position:absolute;
  top:50px;
  width:400px;
  z-index:2;
  border-radius:10px;
  @include mq('tab'){
    left:30px;
  }
  @include mq('sp'){
    top:-30px;
    width:250px;
    left:10px;
  }
}

select,.freeword{
  padding:0 10px;
  @include mq('sp'){
    width:100px;
  }
}
.form-item{
  margin:10px;
  line-height:1;
  p{
    margin:5px;
    width:100px;
  }
}

.like-count{
  padding-left:30px;
}

.pref_result{
  h2{
    color: #F58C3F;
    margin-top:20px;
  }
}
.pref_result_space{
  background:#FAF8F0;
  height:400px;
  border-radius:10px;
  @include mq('sp'){
    
  }
}

@media screen and (max-width: 480px){
   
}

#map{
  height: 400px;
  width: 600px;
}