@charset "UTF-8";

body {
  background: #fff;
}

a {
  color: none;
  text-decoration: none;
}

h1 {
  color: #F58C3F;
  margin-bottom: 0;
}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px;
}

.header-inner {
  max-width: 1000px;
  margin: auto;
  padding: 10px 0;
  justify-content: space-between;
}

.header-list {
  display: flex;
  margin-bottom: 0;
}

.header-list li {
  list-style: none;
  padding: 10px;
}

.page-wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
  justify-content: space-between;
}

.page-flex {
  display: flex;
}

@media (max-width: 1024px) {
  #home {
    display: block;
  }
}

@media (max-width: 766px) {
  .home-left {
    margin: auto;
  }
}

.home-right {
  width: 500px;
  height: 80vh;
  overflow: auto;
  -ms-scroll-snap-type: y;
      scroll-snap-type: y;
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .home-right {
    width: 95%;
    padding: 0;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .page-head {
    margin-left: 5%;
  }
}

.button {
  background-color: #266;
  padding: 20px;
  margin: 0 20px;
  width: 200px;
  border-radius: 5px;
}

@media (max-width: 766px) {
  .button {
    width: 140px;
    padding: 10px;
    margin: 0 5px;
  }
}

.button a {
  width: 160px;
  display: inline-block;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
  cousor: pointer;
}

.home-result-title {
  font-size: 24px;
}

.home-result-title a {
  color: #F58C3F;
}

.home-result-content {
  width: 100%;
}

.result-item {
  display: flex;
  background: #FAF8F0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .result-item {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 766px) {
  .result-item {
    display: block;
  }
}

.result-content {
  margin-left: 20px;
}

@media (max-width: 766px) {
  .result-img {
    text-align: center;
  }
}

.result-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 766px) {
  .result-img img {
    height: 150px;
  }
}

.result-title {
  margin: 0 0 10px;
}

.result-title a {
  color: #F58C3F;
}

.result-category {
  margin: 0 10px;
}

.result-pref {
  margin: 0 10px;
}

.result-body {
  margin: 10px;
}

.create-form {
  background: #FAF8F0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .create-form {
    width: 90%;
    margin: 20px auto;
  }
}

.post-item {
  padding: 20px 0;
  display: flex;
  border-bottom: #6c967a 1px solid;
}

@media (max-width: 766px) {
  .post-item {
    display: block;
  }
}

dt {
  margin-right: 30px;
  width: 210px;
  text-align: left;
  position: relative;
}

dd {
  width: calc(100% - 210px);
}

@media (max-width: 766px) {
  dd {
    width: 100%;
  }
}

dd input {
  width: calc(100% - 22px);
  padding: 7px;
}

dd textarea {
  width: calc(100% - 10px);
  height: 80px;
}

.contact-label {
  display: inline-block;
  padding: 7px;
}

.contact-label-required::after {
  position: absolute;
  content: "\5FC5\9808";
  width: 46px;
  left: auto;
  right: 0;
  top: 5px;
  display: block;
  background: red;
  color: #fffdfd;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}

.center p {
  text-align: center;
}

.aa {
  text-decoration: underline;
  color: #34D0C4;
  padding: 0 5px;
}

.submit {
  background: #0B572F;
  transition: all 0.5s ease 0s;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
}

.submit:hover {
  opacity: 0.6;
}

.show-post__wrapper {
  background: #FAF8F0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .show-post__wrapper {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 766px) {
  .show-post__wrapper img {
    width: 100%;
  }
}

.search_form {
  background: #FAF8F0;
  position: absolute;
  top: 50px;
  width: 400px;
  z-index: 2;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .search_form {
    left: 30px;
  }
}

@media (max-width: 766px) {
  .search_form {
    top: -30px;
    width: 250px;
    left: 10px;
  }
}

select,
.freeword {
  padding: 0 10px;
}

@media (max-width: 766px) {
  select,
  .freeword {
    width: 100px;
  }
}

.form-item {
  margin: 10px;
  line-height: 1;
}

.form-item p {
  margin: 5px;
  width: 100px;
}

.like-count {
  padding-left: 30px;
}

.pref_result h2 {
  color: #F58C3F;
  margin-top: 20px;
}

.pref_result_space {
  background: #FAF8F0;
  height: 400px;
  border-radius: 10px;
}

